<h1>Click to view our Departments</h1>
<%= link_to 'Create a new Department', new_department_path %>

<ul>
  <% @departments.each do |department| %>
    <li><%= link_to department.name, department %></li>
  <% end %>
</ul>
